body{
  background-color: #d6ebe8;
}
.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.landing-button{
  font-size: 20px;
  padding: 25px 20px;
  width: 20rem;
  border-radius: 4px;
  background-color: darkturquoise;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 450;
  font-style: normal;

}
.landing-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav-button{
  font-size: 20px;
  background-color: darkturquoise;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
  float: left;
  border: none;
  
}
.nav-button:hover{
  background-color:aliceblue;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#landing-img{
  width: 600px;
  border-radius: 4px;
}